.card {
  background-color: #343a40;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;

  &:hover {
    background-color: #2A2A2A;
  }

  .team-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
  }

  .team-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .fa-tshirt {
    font-size: 20px;
    color: #007BFE;
    margin-right: 10px;
    line-height: 35px;
  }

  .card-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* Stylizacja przycisku Powrót */
  button {
    background-color: #007bff;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}