<div class="card bg-dark text-white m-1">
  <h6 class="fs-5 text p-4 card-title card-header bg-transparent d-flex justify-content-between">
    <!-- Dodanie logo drużyny lub koszulki, jeśli brak logo -->
    <div class="team-logo-container">
      <!-- Sprawdź, czy logo jest dostępne. Jeśli tak, wyświetl obraz, jeśli nie, wyświetl koszulkę -->
      <img *ngIf="teamLogo; else defaultLogo" [src]="teamLogo" alt="{{ teamName }} Logo" class="team-logo">
      <ng-template #defaultLogo>
        <!-- Domyślna koszulka, gdy brak logo -->
        <i class="fas fa-tshirt team-logo"></i>
      </ng-template>
    </div>
    <span>{{ teamName }}</span>
    <button class="btn btn-link text-white" (click)="onBackClick()">
      <i class="fas fa-arrow-left"></i> Powrót
    </button>
  </h6>

  <div class="table-responsive card-body">
    <table class="table table-dark table-hover align-middle w-100">
      <thead>
        <tr>
          <th>#</th>
          <th class="sortable" (click)="sortData('name')">Imię i nazwisko
            <i [class]="sortColumn === 'name' ? 'fa fa-sort-' + sortDirection : 'fa fa-sort'"></i>
          </th>
          <th>Pozycja</th>
          <th>Nr Koszulki</th>
          <th>Stan zdrowia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.shirtNumber }}</td>
          <td [ngClass]="{'bg-success text-white': player.healthStatus === 'Zdrowy', 
                          'bg-warning text-dark': player.healthStatus === 'Kontuzjowany'}">
            {{ player.healthStatus }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>