<div class="card bg-dark text-white m-1">
  <h6
    class="fs-5 text p-4 card-title card-header bg-transparent d-flex justify-content-between"
  >
    <div class="d-flex align-items-center justify-content-center">
      <img
        *ngIf="teamLogo; else defaultLogo"
        [src]="teamLogo"
        alt="{{ teamName }} Logo"
        class="team-logo"
      />
      <ng-template #defaultLogo>
        <i class="fas fa-tshirt team-logo"></i>
      </ng-template>
    </div>
    <span>{{ teamName }}</span>
    <button class="btn text-white" (click)="onBackClick()">
      <i class="fas fa-arrow-left"></i> Powrót
    </button>
  </h6>

  <div
    class="table-responsive d-flex justify-content-center align-items-center"
  >
    <table class="table table-dark align-middle w-100">
      <thead>
        <tr>
          <th>#</th>
          <th class="sortable" (click)="sortData('name')">
            Imię i nazwisko
            <i
              [class]="
                sortColumn === 'name'
                  ? 'fa fa-sort-' + sortDirection
                  : 'fa fa-sort'
              "
            ></i>
          </th>
          <th>Pozycja</th>
          <th>Nr Koszulki</th>
          <th>Stan zdrowia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players; let i = index" class="text-center">
          <td>{{ i + 1 }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.shirtNumber }}</td>
          <td class="badge-container">
            <span
              class="badge 
              {{
                player.healthStatus === 'Zdrowy'
                  ? 'bg-info text-white rounded-pill px-1 py-1 fs-6'
                  : ''
              }} 
              {{
                player.healthStatus === 'Kontuzjowany'
                  ? 'bg-info-subtle rounded-pill text-dark px-1 py-1 fs-6'
                  : ''
              }}"
            >
              {{ player.healthStatus }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
