<div class="card bg-dark text-white">
  <h2
    class="fs-5 p-4 card-title card-header bg-transparent d-flex justify-content-between align-items-center"
  >
    <div class="d-flex align-items-center justify-content-start">
      <img
        *ngIf="teamLogo; else defaultLogo"
        [src]="teamLogo"
        alt="moduleStrings.header.altLogo"
        class="team-logo me-2"
      />
      <ng-template #defaultLogo>
        <i class="fas fa-tshirt team-logo"></i>
      </ng-template>
    </div>

    <div class="flex-grow-1 text-center">
      <span class="mx-3">{{ teamName }}</span>
    </div>

    <div class="d-flex justify-content-end">
      <button
        class="btn text-white ms-3 px-2 py-1 px-md-3 py-md-2"
        (click)="onBackClick()"
      >
        <i class="fas fa-arrow-left"></i> {{ moduleStrings.header.back }}
      </button>
    </div>
  </h2>

  <div
    class="table-responsive d-flex justify-content-center align-items-center"
  >
    <table class="table table-dark align-middle w-100">
      <thead>
        <tr>
          <th>{{ moduleStrings.columns.pos }}</th>
          <th class="sortable" (click)="sortData('name')">
            {{ moduleStrings.columns.name }}
            <i
              [class]="
                sortColumn === 'name'
                  ? 'fa fa-sort-' + sortDirection
                  : 'fa fa-sort'
              "
            ></i>
          </th>
          <th>{{ moduleStrings.columns.position }}</th>
          <th class="d-none d-md-table-cell">
            {{ moduleStrings.columns.number }}
          </th>
          <th class="d-none d-md-table-cell">
            {{ moduleStrings.columns.health }}
          </th>
          <th *ngIf="canManage" class="text-end"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players; let i = index" class="text-center">
          <td>{{ i + 1 }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.position }}</td>
          <td class="d-none d-md-table-cell">{{ player.shirtNumber }}</td>
          <td class="badge-container d-none d-md-table-cell">
            <span class="badge" [ngClass]="getHealthBadgeClass(player)">
              {{ player.healthStatus }}
            </span>
          </td>
          <td *ngIf="canManage" class="text-end text-nowrap">
            <button
              class="icon-btn me-2 bg-transparent"
              title="Edytuj zawodnika"
              aria-label="Edytuj zawodnika"
              (click)="onEditPlayer(player, $event)"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              class="icon-btn bg-transparent"
              title="Usuń zawodnika"
              aria-label="Usuń zawodnika"
              (click)="onDeletePlayer(player, $event)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
