<div class="card bg-dark text-white text-center shadow-sm border-0">
  <div class="card-body py-4 position-relative">
    <h1 class="card-title fw-bold mb-2">
      {{ title$ | async }}
    </h1>
    <p class="card-text fs-7 fs-md-5">
      {{ dateRange$ | async }}
    </p>

    <div
      *ngIf="isAdmin$ | async"
      class="home-actions-desktop d-none d-md-flex flex-column align-items-end gap-2 position-absolute top-0 end-0 me-2 mt-2"
    >
      <button
        header-action
        type="button"
        class="btn text-white btn-sm"
        (click)="onAddTournament()"
        aria-label="Dodaj turniej"
      >
        <i class="fa-solid fa-plus" aria-hidden="true"></i>
        <span class="ms-2">{{ moduleStrings.addTournament }}</span>
      </button>

      <button
        header-action
        type="button"
        class="btn text-white btn-sm"
        (click)="onEditTournament()"
        aria-label="Edytuj turniej"
      >
        <i class="fa fa-edit" aria-hidden="true"></i>
        <span class="ms-2">{{ moduleStrings.editTournament }}</span>
      </button>

      <button
        header-action
        type="button"
        class="btn text-white btn-sm"
        (click)="onDeleteTournament()"
        aria-label="Usuń turniej"
      >
        <i class="fa-solid fa-trash-can" aria-hidden="true"></i>
        <span class="ms-2">{{ moduleStrings.deleteTournament }}</span>
      </button>
    </div>
    <div
      *ngIf="isAdmin$ | async"
      class="d-flex d-md-none position-absolute top-0 end-0 me-2 mt-2 gap-2"
    >
      <div class="dropdown">
        <button
          type="button"
          class="btn text-white btn-sm action-btn px-2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-label="Akcje turnieju"
        >
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <button
              class="dropdown-item d-flex align-items-center"
              (click)="onAddTournament()"
            >
              <i class="fa-solid fa-plus me-2"></i
              >{{ moduleStrings.addTournament }}
            </button>
          </li>
          <li>
            <button
              class="dropdown-item d-flex align-items-center"
              (click)="onEditTournament()"
            >
              <i class="fa-solid fa-edit me-2"></i
              >{{ moduleStrings.editTournament }}
            </button>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <button
              class="dropdown-item d-flex align-items-center text-danger"
              (click)="onDeleteTournament()"
            >
              <i class="fa-solid fa-trash-can me-2"></i
              >{{ moduleStrings.deleteTournament }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
