<div class="card bg-dark text-white shadow-sm">
  <div
    class="card-header bg-dark text-white bg-opacity-10 d-flex align-items-center"
  >
    <i class="fa-solid fa-location-dot me-2" aria-hidden="true"></i>
    <strong>{{ moduleStrings.title }}</strong>
    <button
      #locToggleBtn
      class="btn btn-link text-white ms-auto"
      (click)="toggleLocation(); hideTooltip($event)"
      [attr.aria-label]="
        isLocationOpen ? 'Zwiń sekcję lokalizacji' : 'Rozwiń sekcję lokalizacji'
      "
      [attr.aria-expanded]="isLocationOpen"
      [attr.aria-controls]="'locationPanel'"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      [attr.data-bs-title]="isLocationOpen ? 'Zwiń sekcję' : 'Rozwiń sekcję'"
    >
      <i
        class="fas"
        [ngClass]="{
          'fa-chevron-down': !isLocationOpen,
          'fa-chevron-up': isLocationOpen
        }"
        aria-hidden="true"
      ></i>
    </button>
  </div>
  <div
    class="card-body"
    *ngIf="isLocationOpen"
    id="locationPanel"
    role="region"
    aria-label="Sekcja lokalizacji"
  >
    <div class="d-flex flex-column flex-sm-row align-items-center">
      <div class="text-content">
        <p class="mb-1">{{ name$ | async }}</p>
        <small>{{ address$ | async }}</small>
      </div>
      <ng-container *ngIf="imageUrl$ | async as imgUrl">
        <div class="image-container ms-md-5" *ngIf="imgUrl && !imgError">
          <img
            [src]="imageUrl$ | async"
            [alt]="(imageAlt$ | async)!"
            class="image"
            (load)="onImgLoad()"
            (error)="onImgError()"
          />
        </div>
      </ng-container>
    </div>
  </div>
</div>
