.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #1c1c1d !important;
  color: #DEDEDE;
  padding: 20px;
  position: fixed;
  z-index: 1000;

  .sidebar-header {
    color: #0A58CA; 
    font-weight: bold;
  }

  .nav-link {
    color: #DEDEDE;
    display: flex;
    align-items: center;
    padding: 1rem 0.75rem;
    margin-bottom: 1.2rem;
    border-radius: 8px;
    transition: background-color 0.3s;

    i {
      font-size: 1.5em;
    }

    &.active {
      background-color: #004080;
      color: #FFFFFF;
    }

    &:hover {
      background-color: #004080;
      color: #FFFFFF;
    }
  }
}
