<div class="card bg-dark text-white">
  <h2
    class="d-flex justify-content-between align-items-center card-title card-header bg-transparent fs-5 p-3 h6"
  >
    <span>{{ date }}</span>
    <button
      #toggleBtn
      class="btn btn-link text-white p-0 btn-sm"
      (click)="toggle(); hideTooltip($event)"
      [attr.aria-label]="
        expanded
          ? 'Zwiń mecze dla dnia ' + date
          : 'Rozwiń mecze dla dnia ' + date
      "
      [attr.aria-expanded]="expanded"
      [attr.aria-controls]="'dayPanel'"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      [attr.data-bs-title]="expanded ? 'Zwiń sekcję' : 'Rozwiń sekcję'"
    >
      <i
        class="fas"
        [ngClass]="{ 'fa-chevron-down': !expanded, 'fa-chevron-up': expanded }"
        aria-hidden="true"
      ></i>
    </button>
  </h2>

  <div
    class="collapse"
    [class.show]="expanded"
    id="dayPanel"
    role="region"
    [attr.aria-label]="'Mecze dla dnia ' + date"
  >
    <div class="card-body">
      <div class="row g-3">
        <div
          class="col-md-4"
          *ngFor="let match of matches; trackBy: trackByMatchId"
        >
          <app-match-card
            [match]="match"
            (openDetails)="onMatchClick(match)"
            (editMatch)="onEditMatch(match)"
            (deleteMatch)="onDeleteMatch(match)"
          ></app-match-card>
        </div>
      </div>
    </div>
  </div>
</div>
