.card {
    background-color: #1F1F1F;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;

    &:hover {
        .card-body {
            background-color: #2A2A2A;
            border-radius: 10px;
        }
    }

    .card-header {
        background-color: #292929;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            background: none;
            border: none;
            color: #FFFFFF;
            font-size: 1.4rem;
            cursor: pointer;
        }
    }

    .card-body {
        font-size: 1rem;
        transition: background-color 0.3s ease;
        padding: 1.1rem;

        .timer {
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            gap: 1rem;
            font-weight: bold;
            align-items: center;
            text-align: center;
            width: 100%;

            .time-item {
                background-color: #007BFE;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                font-size: 1.25rem;
                display: inline-block;
                min-width: 120px;
            }
        }
    }
}