<div class="card bg-dark text-white shadow-sm border-0">
  <div
    class="card-header bg-dark text-white bg-opacity-10 d-flex align-items-center"
  >
    <i class="fas fa-clock me-2" aria-hidden="true"></i>
    <strong>{{ moduleStrings.title }}</strong>
    <button
      #timerBtn
      class="btn btn-link text-white ms-auto"
      (click)="toggleTimer(); hideTooltip($event)"
      [attr.aria-label]="
        isTimerOpen ? 'Zwiń sekcję timera' : 'Rozwiń sekcję timera'
      "
      [attr.aria-expanded]="isTimerOpen"
      aria-controls="timerPanel"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      [attr.data-bs-title]="isTimerOpen ? 'Zwiń sekcję' : 'Rozwiń sekcję'"
    >
      <i
        class="fas"
        [ngClass]="{
          'fa-chevron-down': !isTimerOpen,
          'fa-chevron-up': isTimerOpen
        }"
        aria-hidden="true"
      ></i>
    </button>
  </div>
  <div
    class="card-body"
    *ngIf="isTimerOpen"
    id="timerPanel"
    role="region"
    aria-label="Sekcja timera"
  >
    <ng-container *ngIf="countdown$ | async as c">
      <div
        class="d-flex flex-column flex-sm-row justify-content-center align-items-center"
      >
        <div class="text-content">
          <div class="timer" role="timer" aria-atomic="true" aria-live="polite">
            <ng-container [ngSwitch]="c.status">
              <ng-container *ngSwitchCase="'before'">
                <span class="time-item"
                  >{{ c.days }} {{ moduleStrings.days }}</span
                >
                <span class="time-item"
                  >{{ c.hours }} {{ moduleStrings.hours }}</span
                >
                <span class="time-item"
                  >{{ c.minutes }} {{ moduleStrings.minutes }}</span
                >
                <span class="time-item"
                  >{{ c.seconds }} {{ moduleStrings.seconds }}</span
                >
              </ng-container>

              <ng-container *ngSwitchCase="'running'">
                <span class="time-item">{{
                  moduleStrings.alreadyStarted
                }}</span>
              </ng-container>

              <ng-container *ngSwitchCase="'ended'">
                <span class="time-item">{{ moduleStrings.alreadyEnded }}</span>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
