.layout {
  display: flex;
  min-height: 100vh;
  background-color: #004080;
  color: #FFFFFF;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  margin-left: 300px;
  transition: margin-left 0.3s ease-in-out;

  &.collapsed {
    margin-left: 100px;
  }

  @media (max-width: 767.98px) {
    margin-left: 100px !important;

    &.collapsed {
      margin-left: 100px !important;
    }
  }
}