<div class="container tables-page p-0 px-sm-1 py-sm-1">
  <app-page-header [title]="moduleStrings.headerTitle"></app-page-header>

  <ng-container *ngIf="viewmodel$ | async as viewmmodel; else loadingTables">
    <div class="tables-list d-flex flex-column gap-1 gap-md-2">
      <ng-container *ngIf="viewmmodel.mode === 'LEAGUE'">
        <app-points-table
          *ngIf="viewmmodel.groups?.length"
          [rows]="viewmmodel.groups[0].rows"
          [groupTitle]="viewmmodel.groups[0].groupTitle"
        >
        </app-points-table>
      </ng-container>

      <ng-container *ngIf="viewmmodel.mode === 'LEAGUE_PLAYOFFS'">
        <app-points-table
          *ngFor="let g of viewmmodel.groups; trackBy: trackGroup"
          [rows]="g.rows"
          [groupTitle]="g.groupTitle"
        >
        </app-points-table>

        <app-playoffs-bracket
          *ngIf="viewmmodel.playoffStageId as sid"
          [stageId]="sid"
          (generatePlayOffsRequested)="onGeneratePlayoffsRequested()"
          (deleteAllRequested)="onDeleteAllPlayoffMatches($event)"
          (voteRequested)="onRequestVoteConfirm($event)"
          (deleteMatchRequested)="onDeleteMatch($event)"
          (editMatchRequested)="onEditMatch($event)"
          (matchClicked)="openDetails($event)"
        ></app-playoffs-bracket>
        <div *ngIf="!viewmmodel.playoffStageId" class="alert alert-info">
          {{ moduleStrings.noStage }}
        </div>
      </ng-container>

      <ng-container *ngIf="viewmmodel.mode === 'KNOCKOUT'">
        <app-playoffs-bracket
          *ngIf="viewmmodel.playoffStageId as sid"
          [stageId]="sid"
          (generatePlayOffsRequested)="onGeneratePlayoffsRequested()"
          (deleteAllRequested)="onDeleteAllPlayoffMatches($event)"
          (voteRequested)="onRequestVoteConfirm($event)"
          (deleteMatchRequested)="onDeleteMatch($event)"
          (editMatchRequested)="onEditMatch($event)"
          (matchClicked)="openDetails($event)"
        ></app-playoffs-bracket>
      </ng-container>

      <app-top-scorers></app-top-scorers>
      <app-goalkeepers-clean-sheets></app-goalkeepers-clean-sheets>
    </div>
  </ng-container>
  <ng-template #loadingTables>
    <app-spinner></app-spinner>
  </ng-template>
</div>

<app-match-details-modal
  [match]="selectedMatch"
  [teamMap]="teamMap$ | async"
  [playerMap]="playerMap$ | async"
  (close)="closeDetails()"
  (requestVoteConfirm)="onRequestVoteConfirm($event)"
>
</app-match-details-modal>

<app-confirm-modal #deleteMatchConfirm></app-confirm-modal>
<app-confirm-modal #deleteAllPlayoffMatches></app-confirm-modal>
<app-confirm-modal #voteConfirm></app-confirm-modal>

<app-dynamic-form
  [formTitle]="formTitleEditMatch"
  [fields]="editMatchFormFields"
  [isOpen]="openEditMatchFormModal"
  (formSubmitted)="onEditMatchFormSubmitted($event)"
  (valueChanges)="onEditMatchFormChanged($event)"
  (close)="openEditMatchFormModal = false"
>
</app-dynamic-form>

<app-dynamic-form
  #dynamicForm
  [formTitle]="generatePlayoffsTitle"
  [fields]="generatePlayoffsFields"
  [isOpen]="openGeneratePlayoffsFormModal"
  (formSubmitted)="onGeneratePlayoffsFormSubmitted($event)"
  (valueChanges)="onGeneratePlayoffsFormChanged($event)"
  (close)="openGeneratePlayoffsFormModal = false"
>
</app-dynamic-form>

<app-spinner *ngIf="isLoading"></app-spinner>
