<div class="card bg-dark text-white m-1">
    <h6 class="fs-5 text p-4 card-title card-header bg-transparent">
        Grupa A
    </h6>
    <div class="table-responsive card-body">
        <table class="table table-dark table-hover align-middle w-100">
            <thead class="table-header">
                <tr>
                    <th>#</th>
                    <th>Drużyna</th>
                    <th>RM</th>
                    <th>W</th>
                    <th>R</th>
                    <th>P</th>
                    <th class="bg-primary text-white">Pkt</th>
                    <th>BZ</th>
                    <th>BS</th>
                    <th>+/-</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of tableData; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td class="text-start">{{ team.name }}</td>
                    <td>{{ team.rm }}</td>
                    <td>{{ team.w }}</td>
                    <td>{{ team.r }}</td>
                    <td>{{ team.p }}</td>
                    <td>
                        <span class="badge bg-primary text-white px-3 py-2">{{ team.pkt }}</span>
                    </td>
                    <td>{{ team.bz }}</td>
                    <td>{{ team.bs }}</td>
                    <td [ngClass]="{ 'text-success': team.diff >= 0, 'text-danger': team.diff < 0 }">
                        {{ team.diff >= 0 ? '+' : '' }}{{ team.diff }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>