<div class="card bg-dark text-white m-1">
  <h6 class="fs-5 text p-4 card-title card-header bg-transparent">
    {{ moduleStrings.title }}
  </h6>
  <div class="table-responsive card-body">
    <table class="table table-dark table-hover align-middle w-100">
      <thead class="table-header">
        <tr>
          <th>{{ moduleStrings.headers.pos }}</th>
          <th>{{ moduleStrings.headers.team }}</th>
          <th class="d-none d-md-table-cell text-center">
            {{ moduleStrings.headers.rm }}
          </th>
          <th class="d-none d-md-table-cell text-center">
            {{ moduleStrings.headers.w }}
          </th>
          <th class="d-none d-md-table-cell text-center">
            {{ moduleStrings.headers.r }}
          </th>
          <th class="d-none d-md-table-cell text-center">
            {{ moduleStrings.headers.p }}
          </th>
          <th class="bg-info text-white">{{ moduleStrings.headers.pts }}</th>
          <th class="d-none d-md-table-cell text-center">
            {{ moduleStrings.headers.bz }}
          </th>
          <th class="d-none d-md-table-cell text-center">
            {{ moduleStrings.headers.bs }}
          </th>
          <th class="d-none d-md-table-cell text-center">
            {{ moduleStrings.headers.diff }}
          </th>
        </tr>
      </thead>
    </table>
    <div class="table-body-container">
      <table class="table table-dark table-hover align-middle w-100">
        <tbody>
          <tr *ngFor="let team of tableData; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="text-start">
              <div class="d-flex align-items-center justify-content-start">
                <img
                  *ngIf="team.logo; else defaultLogo"
                  [src]="team.logo"
                  alt="{{ moduleStrings.alt.teamLogo }}"
                  class="team-logo"
                />
                <ng-template #defaultLogo>
                  <i class="fas fa-tshirt team-logo"></i>
                </ng-template>
                {{ team.name }}
              </div>
            </td>
            <td class="d-none d-md-table-cell text-center">{{ team.rm }}</td>
            <td class="d-none d-md-table-cell text-center">{{ team.w }}</td>
            <td class="d-none d-md-table-cell text-center">{{ team.r }}</td>
            <td class="d-none d-md-table-cell text-center">{{ team.p }}</td>
            <td>
              <span class="badge bg-info text-white px-3 py-2">{{
                team.pkt
              }}</span>
            </td>
            <td class="d-none d-md-table-cell text-center">{{ team.bz }}</td>
            <td class="d-none d-md-table-cell text-center">{{ team.bs }}</td>
            <td
              [ngClass]="{
                'text-success': team.diff >= 0,
                'text-danger': team.diff < 0
              }"
            >
              {{ team.diff >= 0 ? "+" : "" }}{{ team.diff }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
