@use "../../../../styles.scss" as *;

.card {
  border-radius: 8px;
  overflow: hidden;
}

.table-responsive {
  padding: 0;
  max-height: 500px;
}

.table-body-container {
  max-height: 400px;
  overflow-y: auto;
  display: block;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  thead {
    text-align: center;
  }

  tbody {
    tr {
      border-top: 1px solid $border-table;
      transition: background-color 0.3s;

      td {
        text-align: center;
        vertical-align: middle;
        padding: 10px;
      }
    }
  }
}

.team-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.fas.fa-tshirt.team-logo {
  font-size: 20px;
  color: $table-highlight;
  margin-right: 10px;
  line-height: 35px;
}

.table .badge {
  font-size: 1rem;
}

@media (max-width: 767.98px) {
  h2.card-title {
    font-size: 1rem !important;
    padding: 1.25rem !important;
  }

  .team-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .fas.fa-tshirt.team-logo {
    font-size: 18px;
    margin-right: 8px;
    line-height: 25px;
  }

  .table th,
  .table td {
    font-size: 0.75rem;
  }

  .table .badge {
    font-size: 0.7rem;
  }
}
