<div class="card text-white m-1 match-card" (click)="onClick()">
  <div class="card-body p-2 p-md-3">
    <div class="d-flex justify-content-between align-items-center mb-1 mb-md-2">
      <div class="d-flex align-items-center justify-content-start">
        <img
          *ngIf="match.logoA; else defaultLogoA"
          [src]="match.logoA"
          [alt]="match.teamA"
          class="team-logo"
        />
        <ng-template #defaultLogoA>
          <i class="fas fa-tshirt team-logo"></i>
        </ng-template>
        <span class="fw-semibold team-name">{{ match.teamA }}</span>
      </div>

      <span
        class="badge text-white px-2 px-md-3 py-1 py-md-2"
        [ngClass]="getBadgeClass('A')"
      >
        {{ getScoreText("A") }}
      </span>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img
          *ngIf="match.logoB; else defaultLogoB"
          [src]="match.logoB"
          [alt]="match.teamB"
          class="team-logo"
        />
        <ng-template #defaultLogoB>
          <i class="fas fa-tshirt team-logo"></i>
        </ng-template>
        <span class="fw-semibold team-name">{{ match.teamB }}</span>
      </div>

      <span
        class="badge text-white px-2 px-md-3 py-1 py-md-2"
        [ngClass]="getBadgeClass('B')"
      >
        {{ getScoreText("B") }}
      </span>
    </div>

    <div
      class="custom-group d-flex justify-content-center align-items-center small mt-1"
    >
      <span>{{ moduleStrings.group }} {{ match.group }}</span>

      <ng-container *ngIf="match.kickoffISO">
        <span class="mx-2"></span>
        <ng-container *ngIf="isLive; else notLive">
          <span class="live-dot me-1" aria-hidden="true"></span>
          <span>{{ match.kickoffISO | date : "HH:mm" }}</span>
        </ng-container>

        <ng-template #notLive>
          <span class="d-inline-flex align-items-center lh-1 gap-1">
            <i class="fa-solid fa-clock fa-fw" aria-hidden="true"></i>
            <span class="lh-1">{{ match.kickoffISO | date : "HH:mm" }}</span>
          </span>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
