@use "../../../../styles.scss" as *;

.match-card {
  background-color: $match-card;
  transition: 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: $match-card-hover;
  }
}

.team-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.fas.fa-tshirt.team-logo {
  font-size: 20px;
  color: $primary-blue;
  margin-right: 10px;
  line-height: 35px;
}

.badge {
  font-size: 0.95rem;
}

.team-name {
  font-size: 1rem;
}

.custom-group {
  color: $cards-text-information;
}

@media (max-width: 767.98px) {
  // Nazwa drużyny (1rem na desktopowym)
  .team-name {
    font-size: 0.8rem;
  }

  // Nazwa grupy
  // 0.875 * 16px = 14px lub 0.875rem (small)
  .custom-group {
    font-size: 0.7rem;
  }

  // Logo drużyny
  .team-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
  }

  // Ikona koszulki
  .fas.fa-tshirt.team-logo {
    font-size: 18px;
    margin-right: 8px;
    line-height: 25px;
  }

  // Rozmiar pastylki z wynikiem
  .badge {
    font-size: 0.8rem;
  }
}
