<div class="container teams-page p-0 px-sm-1 py-sm-1">
  <app-page-header
    [title]="
      !(selectedTeam$ | async)
        ? moduleStrings.headerTitle
        : moduleStrings.headerTitleTeam
    "
  >
    @if (selectedTeam$ | async; as selectedTeam) {
    <button
      header-action
      type="button"
      class="btn text-white btn-sm"
      (click)="onAddPlayer(selectedTeam)"
      aria-label="Dodaj zawodnika"
    >
      {{ moduleStrings.addPlayer }}
    </button>
    } @else {
    <button
      header-action
      type="button"
      class="btn text-white btn-sm"
      (click)="onAddTeam()"
      aria-label="Dodaj drużynę"
    >
      {{ moduleStrings.addTeam }}
    </button>
    }</app-page-header
  >

  <div
    *ngIf="!(selectedTeam$ | async)"
    class="teams-list"
    tabindex="0"
    role="region"
    aria-label="Lista drużyn — przewijany obszar"
  >
    <div class="row g-1 g-md-3">
      <div *ngFor="let team of (teams$ | async) ?? []" class="col-12 col-md-4">
        <app-team-card
          [team]="team"
          (teamClick)="onTeamClick(team)"
        ></app-team-card>
      </div>
    </div>
  </div>

  <div
    *ngIf="selectedTeam$ | async as selectedTeam"
    class="teams-list mt-1"
    tabindex="0"
    role="region"
    aria-label="Tabela składu drużyny — przewijany obszar"
  >
    <app-team-table
      [teamName]="selectedTeam.name"
      [players]="selectedTeam.players"
      [teamLogo]="selectedTeam.logo"
      (backClick)="onBackClick()"
    ></app-team-table>
  </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>

<!-- Formularz do dodawania drużyny -->
<app-dynamic-form
  [formTitle]="formTitleAddTeam"
  [fields]="addTeamFormFields"
  [isOpen]="openAddTeamFormModal"
  (formSubmitted)="onAddTeamFormSubmitted($event)"
  (close)="openAddTeamFormModal = false"
>
</app-dynamic-form>

<!-- Formularz do dodawania zawodnika do drużyny -->
<app-dynamic-form
  [formTitle]="formTitleAddPlayer"
  [fields]="addPlayerFormFields"
  [isOpen]="openAddPlayerFormModal"
  (formSubmitted)="onAddPlayerFormSubmitted($event)"
  (close)="openAddPlayerFormModal = false"
></app-dynamic-form>
