<div class="container mt-4">
  <div *ngIf="!selectedTeam" class="row g-4">
    <!-- Wyświetlanie kart drużyn, które będą widoczne tylko jeśli nie jest wybrana żadna drużyna -->
    <div *ngFor="let team of teams" class="col-md-4">
      <app-team-card
        [team]="team"
        (teamClick)="onTeamClick(team)"
      ></app-team-card>
    </div>
  </div>

  <!-- Tabela zawodników drużyny po kliknięciu karty -->
  <div *ngIf="selectedTeam" class="mt-4">
    <app-team-table
      [teamName]="selectedTeam.name"
      [players]="selectedTeam.players"
    ></app-team-table>
    <button class="btn btn-link text-white" (click)="onBackClick()">
      <i class="fas fa-arrow-left"></i> Powrót
    </button>
  </div>
</div>
