@use "../../../../styles.scss" as *;

.card {
  border-radius: 8px;
  overflow: hidden;
}

.table-responsive {
  padding: 0;
  max-height: 500px;
}

.table-body-container {
  max-height: 400px;
  overflow-y: auto;
  display: block;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  thead {
    text-align: center;
  }

  tbody {
    tr {
      border-top: 1px solid $border-table;
      transition: background-color 0.3s;

      td {
        text-align: center;
        vertical-align: middle;
        padding: 10px;
        //white-space: nowrap;
      }
    }
  }
}

.sortable i {
  margin-left: 5px;
  font-size: 1rem;
}

.th-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;

  &:hover,
  &:active {
    color: inherit;
    background: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.25rem $primary-dark;
    border-radius: 0.375rem;
  }

  &:focus {
    outline: none;
  }
}

@media (max-width: 767.98px) {
  // Padding (p-3 to 1rem lub 16px)
  h6.card-title {
    padding: 0.8rem !important;
  }

  // Tytuł (fs-5 to 1.25rem lub 20px)
  .card-title span {
    font-size: 1rem;
  }

  .sortable i {
    margin-left: 4px;
    font-size: 0.8rem;
  }

  .table th,
  .table td {
    font-size: 0.7rem;
    white-space: normal !important;
  }

  .table th:nth-of-type(1),
  .table td:nth-of-type(1) {
    width: 20%;
  }

  .table th:nth-of-type(2),
  .table td:nth-of-type(2) {
    width: 50%;
  }

  .table th:nth-of-type(4),
  .table td:nth-of-type(4) {
    width: 30%;
  }
}
