@use "../../../../styles.scss" as *;

.card {
  border-radius: 8px;
  overflow: hidden;
}

.table-responsive {
  padding: 0;
  max-height: 500px;
}

.table-body-container {
  max-height: 400px;
  overflow-y: auto;
  display: block;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  thead {
    text-align: center;
  }

  tbody {
    tr {
      border-top: 1px solid $border-table;
      transition: background-color 0.3s;

      td {
        text-align: center;
        vertical-align: middle;
        padding: 10px;
        white-space: nowrap;
      }
    }
  }
}

.sortable i {
  margin-left: 5px;
  font-size: 1rem;
}

@media (max-width: 767.98px) {
  .card {
    border-radius: 8px;

    .card-title span {
      display: block;
      font-size: 0.8rem;
    }

    .sortable i {
      margin-left: 4px;
      font-size: 0.8rem;
    }
  }

  .table {
    th,
    td {
      font-size: 0.75rem;
      white-space: normal !important;
    }
  }
}
