/* KOLORY GŁÓWNE */
$primary-dark: #004080;
$primary-blue: #0a58ca;
$normal-blue: #0000ff;
$table-highlight: #007bfe;
$table-highlight-2: #0073ec;
$button-hover: #0056b3;
$sky-blue: #add8e6;

$text-gray: #dedede;
$menu-text: #adadad;
$white: #ffffff;
$black: #000000;

/* KOLORY KART MECZÓW */
$match-card: #404040;
$match-card-hover: #505050;
$match-card-badge: #555555;
$match-card-text-group: #cccccc;

/* KOLORY W TABELACH */
$border-table: #505053;
$text-diff-plus: #49a97e;
$text-diff-minus: #ff4d4d;
.text-diff-minus {
  color: $text-diff-minus !important;
}
.text-diff-plus {
  color: $text-diff-plus !important;
}

/* KOLORY NAVBARA i TOPBARA*/
$navbar-topbar-background-color: #1c1c1c;

/* KOLORY LIST ROZWIJANYCH */
$dropdown-background-color: #1c1c1c;
$dropdown-border-color: #505053;
$dropdown-item-color: #dedede;
$dropdown-item-hover-background: #3f3f3fbe;

/* KOLOR SPINERA */
$spiner-color: #006ce0;

/* POZOSTAŁE */
$cards-text-information: #b0b0b0;
$home-cards-hover: #2a2a2a;
$home-cards-small: #a0a0a0;

/* STYLIZACJA AWATARA */
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $primary-blue;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: $black;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
  }

  i {
    font-size: 1.1rem;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Styl dla scrollbara */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #696969;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}

::-webkit-scrollbar-thumb:active {
  background: #adadad98;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
