@use "../../../../styles.scss" as *;

.card {
  border-radius: 10px;
  background-color: #1f1f1f;
  color: $white;
  width: 100%;

  &:hover {
    .card-body {
      background-color: $home-cards-hover;
      border-radius: 10px;
    }
  }
}

.card-text {
  font-size: 1.3rem;
  color: $cards-text-information;
}

@media (max-width: 767.98px) {
  .card {
    border-radius: 10px;
    background-color: #1f1f1f;
    color: $white;
    width: 100%;

    &:hover {
      .card-body {
        background-color: $home-cards-hover;
        border-radius: 10px;
      }
    }
  }

  .card-text {
    font-size: 0.8rem;
    color: $cards-text-information;
  }
}
