@use "../../styles.scss" as *;

.calendar-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.calendar-list {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.calendar-page [header-action].btn {
  background-color: $table-highlight-2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover;
  }
}
