<div class="calendar-page">
  <app-page-header [title]="moduleStrings.headerTitle"></app-page-header>

  <div class="calendar-list">
    <div class="accordion d-flex flex-column gap-1" id="calendarAccordion">
      <app-calendar-day
        *ngFor="let day of days"
        [date]="day.date"
        [matches]="day.matches"
        (matchClicked)="openDetails($event)"
      >
      </app-calendar-day>
    </div>
  </div>
</div>

<app-match-details-modal
  [match]="selectedMatch"
  (close)="closeDetails()"
></app-match-details-modal>
