<div class="container-fluid">
  <!-- Tytul turnieju -->
  <app-tournament-title></app-tournament-title>
  <div class="row g-0 mt-3">
    <div class="col-12">
      <!-- Zawartosc glowna -->
      <app-league-description></app-league-description>
    </div>
  </div>

  <div class="row g-2 mt-2">
    <!-- Lokalizacja -->
    <div class="col-md-6">
      <app-lokalizacja></app-lokalizacja>
    </div>

    <!--Timer-->
    <div class="col-md-6">
      <app-match-timer></app-match-timer>
    </div>
  </div>
</div>