@use "../../../../styles.scss" as *;

.spinner-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  animation: spin 3s linear infinite;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 8px solid transparent;
  border-top: 8px solid $spiner-color;
  border-radius: 100%;
  transform: translate(-100%, -100%);
  animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
